<div id="container-principal">
    <div class="card">
        <div class="card-header">
          Sobre o Guia do Corretor
        </div>
        <div class="card-body">
          <h5 class="card-title">A Aplicação</h5>
          <p class="card-text">
            A Guia de Corretores é uma aplicação OpenSource que conta com uma equipe de colaboradores talentosos e experientes. 
            O foco é ajudarmos corretores a aumentarem os lucros e expandirem seus negócios. 
            Embora nossos métodos sejam complexos, nosso objetivo é simples: queremos ajudá-lo a vender seus produtos e serviços para mais clientes.
          </p>
          <p class="card-text">
            Fazemos isso através de conhecimento, com a Trilha do Corretor, que traz cursos específicos que vão ajudar o Corretor a alavancar o inicio de carreira. 
            Através também de uma Comunidade, onde o corretor consegue encontrar Vagas em Seguradoras, Parceiros de Corretagem e até mesmo mentores. E por fim uma área de
            Seguradora, onde o corretor conegue ver lista de noticias das seguradoras e até mesmo avaliar e postar comentários sobre algumas Seguradoras específicas, 
            tal qual entender quais são as melhores de acordo com os votos de todos. 
          </p>
          <h5 class="card-title">Open Source</h5>
          <p class="card-text">
            Na construção da aplicação utilizamos as tecnologias mais modernas do mercado, para que o desenvolvimento seja fácil de entender e simples para que a comunidade 
            desenvolvedora consiga contirbuir com o projeto. Além disso, temos documentação de API, Identidade Visual e outros. A intenção é que todo mundo consiga facilmente
            baixar o projeto em seu computador pessoal e colocar ele em funcionamento em questão de poucos minutos.
          </p>
          <h5 class="card-title">A Tecnologia</h5>
          <p class="card-text">Para o backend desta aplicação, utilizamos Nodejs, que utiliza como linguagem o Javascript e existe uma rápida execução. Também muito boa aprendizado
            e facil entendimento de outros desenvolvedores. Já no FrontEnd, utilizamos o Angular 7, em sua ultima versão, que trablaha com Design Atomico e muita rapidez na resposta. </p>
        </div>
      </div>
</div>
