<div id="container-principal">
  <div id="container-noticias">
    <app-noticias></app-noticias>
  </div>
  <div class="container-vertical">
    <div id="div-trilha">
      <div id="imagem-trilha" style="background-image: url('trilha.png');">
        <div class="transparencia">
          <h1>Trilha do Corretor</h1>
          <p>Um guia feito de corretores para corretores, com o objetivo de melhor desenvolver os seus negócios.</p>
        </div>
      </div>
    </div>
    <div id="div-comunidade">
      <div id="imagem-comunidade" style="background-image: url('comunidade.png');">
        <div class="transparencia">
          <h1>Comunidade</h1>
          <p>Um portal para compartilhamento de conteúdo, repostas e engajamento entre corretores.</p>
        </div>
      </div>
    </div>
</div>