#container-principal {
    display: flex;
    justify-content: space-between;
    padding-top: 20vh; 
    height: 100vh;
}

#container-noticias{
    width: 50vw;
    height: 80vh;
}

.container-vertical {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

#div-trilha, #div-comunidade {
    width: 50vw;
    height: 40vh;
}

#imagem-trilha{
    background-image: url(trilha.png);
}

#imagem-comunidade{
    background-image: url(comunidade.png);
}

#imagem-comunidade, #imagem-trilha{
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: auto;
}

.transparencia {
    display: flex;
    flex-direction: column;
    padding: 5%;
    background: rgba(246, 179, 82, 0.75);
    width: 100%;
    height: 100%;
}

h1, p {
    color: #FFFFFF;
}

h1 {
    font-size: 1.5rem;
}

p {
    font-size: 0.8rem;
}