<div id="menu">
    <div id="container-logo">
        <a [routerLink]="['/']"><div id="logo" style="background-image: url('logo.svg');"></div></a>
    </div>
    <div id="container-nav">
        <button mat-button><a [routerLink]="['/']">HOME</a></button>
        <button mat-button><a [routerLink]="['/trilha']">TRILHA DO CORRETOR</a></button>
        <button mat-button><a [routerLink]="['/comunidade']">COMUNIDADE</a></button>
        <button mat-button><a [routerLink]="['/seguradoras']">SEGURADORAS</a></button> 
        <button mat-button><a [routerLink]="['/sobre']">SOBRE</a></button>
    </div>
    <div id="barra">
        <div class="laranja"></div>
        <div class="rosa"></div>
        <div class="laranja"></div>
        <div class="rosa"></div>
        <div class="laranja"></div>
    </div>
</div>