<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="i" *ngFor="let item of noticias; let i = index"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active heigth-80">
        <img class="imagem" src="https://abrilexame.files.wordpress.com/2017/03/imagem-40.jpg?quality=70&strip=info&resize=680,453">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" *ngFor="let item of noticias; let i = index">
        <a class="heigth-80" href="{{item.link}}" target="_blank">
          <img class="imagem" src="{{item.imagemUrl}}">
          <div class="carousel-caption d-none d-md-block">
              <div class="transparencia">
                <h5>{{item.titulo}}</h5>
              </div>
          </div>
        </a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>