.imagem {
    background-size: cover;
    background-position: center;
    width: auto!important;
    height: 80vh!important;
}

.heigth-80 {
    height: 80vh;
}

.transparencia {
    background: rgba(246, 134, 87, 0.5);
    width: 100%;
    height: 100%;
}