<div id="container-principal">
  <div class="jumbotron">
    <h1>Seguradoras</h1>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="card" *ngFor="let item of seguradoras">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{item.nome}} - Média de Votos: {{item.media}}
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body" *ngFor="let avaliacao of item.avaliacoes">
          {{avaliacao.comentario}}
        </div>
      </div>
    </div>
  </div>
</div>